#python==3.11.4
pandas==2.1.0
notebook==7.0.3
black>=23.7.0
mypy==1.5.1
ipython==8.15.0
numpy==1.25.2
pytest==7.4.0
matplotlib==3.8.1
seaborn==0.13.0
tokenizers>=0.8.1rc2
torch==2.2.0
torchvision
torchaudio
transformers>=3.1.0
scikit_learn>=0.23.2
sentencepiece
lumibot
alpaca-trade-api
timedelta
